<div class="row bg-info xs-ml-0 xs-mr-0 xs-p-10">
    <div class="col-xs-24">
        <span class="sub-heading font-weight-normal">{{globalVars.pageTitle}}</span>
    </div>
</div>

<div class="js-report-summary">    
</div>

<div class="row xs-mt-0 xs-ml-0 sm-mb-15">
    <div class="col-xs-8 col-md-12 xs-pl-0">
        <button id="downloadBtn" class="btn btn-default xs-mr-15 hidden-xs hidden-sm hidden-md hidden-print"><span class="fa fa-download"></span> <span class="sm-ml-5">Download Selected</span></button>
        <span class="xs-ml-0 md-ml-5 xs-mt-5 xs-mb-5">
            <i class="result-count">{{searchResponse.resultCount}} {{globalVars.resultCount}}</i>
        </span>
    </div>
    <div class="col-xs-16 col-md-12">
        <div class="js-sortbyDdn form-group pull-right">
        </div>
    </div>
</div>

<div class="tableContainer report-table">
    <div class="row xs-mb-15">
        <div class="col-xs-24">
            <table id="table"></table>
        </div>
    </div>
</div>

<div class="tableContainer visible-xs">
    <div class="row xs-mb-15">
        <div class="col-xs-24">
            <table id="tableFooter"></table>
        </div>
    </div>
</div>

<div>
    <p><strong>{{globalVars.note}}:</strong> {{globalVars.notemsg}}</p>
</div>

