<div class="row bg-info xs-ml-0 xs-mr-0 xs-mb-15 xs-p-10">
    <div class="col-sm-7 xs-mb-15">
        <span><strong>{{globalVars.soldTo}}</strong></span><br/>
        <span>{{searchResponse.header.soldTo}}</span>
    </div>
    <div class="col-sm-7 xs-mb-15">
        <span><strong>{{globalVars.account}}</strong></span><br/>
        <span>{{searchResponse.header.account}}</span>
    </div>
    <div class="col-sm-5 xs-mb-15">
        <span><strong>{{globalVars.year}}</strong></span><br/>
        <span>{{searchResponse.header.fiscalYear}}</span>
    </div>
    <div class="col-sm-5 xs-mb-15">
        <span><strong>{{globalVars.quarter}}</strong></span><br/>
        <span>{{searchResponse.header.quarter}}</span>
    </div>
</div>