<div class="row">
    <div class="col-xs-24">
        <span class="sub-heading">{{globalVars.userAddNewCaption}}</span>
    </div>
</div>
<div class="row userForm">
    <div class="col-xs-24">
        <div class="row xs-mt-10">
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.userID}}</strong>
                </span>
                <br/>
                <input type="text" name="userID" id="userID" class="form-control inputBoxShort input-element" data-parsley-required="" data-parsley-trigger="focusout"/>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.regionCaption}}</strong>
                </span>
                <br/>
                <span id="userRegion">
                    {{usmrUserData.region}}
                </span>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.language}}</strong>
                </span>
                <br/>
                <span id="userLanguage">
                    {{usmrUserData.language}}
                </span>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10">
                <div class="js-userStatus-ddn">
                </div>
            </div>
        </div>
        <div class="row xs-mt-10">
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.fName}}</strong>
                </span>
                <br/>
                <input type="text" id="fName" name="fName" class="form-control inputBoxShort input-element" data-parsley-required="" data-parsley-trigger="focusout"/>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.lName}}</strong>
                </span>
                <br/>
                <input type="text" id="lName" name="lName" class="form-control inputBoxShort" data-parsley-required="" data-parsley-trigger="focusout"/>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.email}}</strong>
                </span>
                <br/>
                <input type="email" id="email" name="email" class="form-control inputBoxShort" data-parsley-required="" data-parsley-trigger="change"/>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.phone}}</strong>
                </span>
                <br/>
                <input type="text" id="phone" name="phone" class="form-control inputBoxShort" data-parsley-required="" data-parsley-trigger="focusout" />
            </div>
        </div>
        <div class="row xs-mt-10">
            <div class="col-md-8 col-xs-24 md-pb-0 xs-pb-10 md-mr-30">
                <span>
                    <strong>{{globalVars.addressLineFirst}}</strong>
                </span>
                <br/>
                <input type="text" id="addressLineFirst" name="addressLineFirst" class="form-control" data-parsley-required="" data-parsley-trigger="focusout"/>
            </div>
            <div class="col-md-8 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.addressLineSecond}}</strong>
                </span>
                <br/>
                <input type="text" id="addressLineSecond" name="addressLineSecond" class="form-control" data-parsley-required="" data-parsley-trigger="focusout"/>
            </div>
        </div>
        <div class="row xs-mt-10">
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.userCity}}</strong>
                </span>
                <br/>
                <input type="text" id="userCity" name="userCity" class="form-control inputBoxShort" data-parsley-required="" data-parsley-trigger="focusout"/>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.stateProvince}}</strong>
                </span>
                <br/>
                <input type="text" id="stateProvince" name="stateProvince" class="form-control inputBoxShort" data-parsley-required="" data-parsley-trigger="focusout"/>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <span>
                    <strong>{{globalVars.zipPostalCode}}</strong>
                </span>
                <br/>
                <input type="text" id="zipPostalCode" name="zipPostalCode" class="form-control inputBoxShort" data-parsley-required="" data-parsley-trigger="focusout"/>
            </div>
            <div class="col-md-4 col-xs-24 md-pb-0 xs-pb-10 md-mr-15">
                <div class="js-userCountry-ddn">
                </div>
            </div>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="userIsDelAdmin" id="userIsDelAdmin"/>
            <label for="userIsDelAdmin">
                This user is a delegated admin
            </label>
        </div>
    </div>
</div>
