<div class="col-xs-24">
    <div class="row">
        <div class="row permissionsCaption">
            <div class="col-xs-24">
                <span class="sub-heading">{{globalVars.permissonsSectionCaption}}</span>
                <div class="col-xs-24 md-mt-15 xs-mt-15 setToDefaultPermsBtn">
                    <span class="defaultLoadIcon">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiBhIIDC6ceGnmAAAA/ElEQVQoz23RvyvEcRzH8cfpQlIyMcmoLO66G4SSv+AWo4kyGCxmf8RZyWbxFxgtUn67om5QlMhy6bjCubfh3Ple7vVe3p/389m7d31SWukzKysr5dqlA9+Y09vCU0oiUeemzXtTaOI1n0JoKHv8VRo+RFPIqws1G4ZBxqbKr1ag343wasJfFtT+hEUhLHfg9/YthbQsKnYSwq3Jdv+SlsGJZJ6Sj7RBVHVLwbhntoT7LjjlWdjucYExM/+EOSM4ZFRFKBvowEPuhDejsCSEkmwb510JYaU12BPCl2NFRUfqQthPrlxV7fisqnU9zVtbGbckJyflzKldD83xD4qPZPnp0jF3AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA2LTE4VDA4OjEyOjQ2KzAyOjAweLgJCwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wNi0xOFQwODoxMjo0NiswMjowMAnlsbcAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC"/>
                    </span>&nbsp;
                    <span>{{globalVars.setDefaultPermissions}}</span>
                </div>
            </div>
        </div>
        <div class="row permissionsTableContainer">
            <table id="table"></table>
            <div class="col-xs-24 md-mt-5 xs-mt-5" id="permission-errorMsg-holder"></div>
        </div>
    </div>
    </form>
    <div class="row md-mt-15 xs-mt-15">
        <div class="col-md-5 col-xs-24 returnToMRLink">
            <a href="{{globalUrl.returnURL}}">
                {{globalVars.linkForReturnTOMRList}}
            </a>
        </div>
        <div class="col-md-15 col-xs-24 buttonsForAddingResetUser pull-right md-mt-10 xs-mt-15 text-right">
            <button class="btn btn-default" id="resetUserForm">{{globalVars.resetButton}}</button>
            <button class="btn btn-primary" id="createNewUserForm">{{globalVars.createNewUser}}</button>
        </div>
    </div>
</div>