<div class="bg-forms fuel-type-container xs-mt-15 xs-p-10">
    <span> {{globalVars.formDesc}} </span>
    <div class="row">
        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
            <label for="userIdText">
                {{globalVars.userID}}
            </label> <br/>
            <span id="userIdText">
                JVANALYEA
            </span>
        </div>

        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
            <label for="fname">
                {{globalVars.fname}}
            </label> <br/>
            <span id="fname" class="form-group">
                <input type="text" name="userFname" id="userFname" />
            </span>
        </div>

        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
            <label for="lname">
                {{globalVars.lname}}
            </label> <br/>
            <span id="lname">
                JVANALYEA
            </span>
        </div>
    </div>

    <div class="row xs-mt-15">
        <div class="col-xs-24 col-md-4">
            <label for="userEmail">
               {{globalVars.userEmail}}
            </label> <br/>
            <span id="userEmail">
                JVANALYEA
            </span>
        </div>

        <div class="col-xs-24 col-md-4">
            <label for="altEmail">
                {{globalVars.altEmail}}
            </label> <br/>
            <span id="altEmail">
                JVANALYEA
            </span>
        </div>

        <div class="col-xs-24 col-md-4">
            <label for="userPhone">
                {{globalVars.userPhone}} 
            </label> <br/>
            <span id="userPhone">
                JVANALYEA
            </span>
        </div>
    </div>
</div>