<div class="bg-forms fuel-type-container xs-mt-15 xs-p-10">      
    <span> {{globalVars.formDesc}} </span>
    <div class="row md-pt-15 xs-pb-15">
        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
            <label for="stationAccount">
                {{globalVars.fuelInvoiceInquiry.stationAccountLabel}}
            </label> <br/>
            <span id="stationAccount">
                <input type="text" name="stationAccountText" name="stationAccountText" class="input-field-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div>
    </div>
    <div class="row xs-pb-15">
        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
             <label for="fname">
                {{globalVars.fuelInvoiceInquiry.billOfLadingLabel}}
            </label> <br/>
            <span id="billOfLading">
                <input type="text" name="userFname" id="billOfLadingText" class="input-field-style input-element"/>
            </span>
        </div>
        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
            <label for="lname">
                {{globalVars.fuelInvoiceInquiry.invoiceNoLabel}}
            </label> <br/>
            <span id="invoiceNo">
                <input type="text" name="invoiceNoText" id="invoiceNoText" class="input-field-style input-element"/>
            </span>
        </div>
    </div>
    <div class="row xs-pb-15">
       <div class="col-xs-24 col-md-4">
            <label for="carrierName">
               {{globalVars.fuelInvoiceInquiry.carrierNameLabel}}
            </label> <br/>
            <span id="carrierName">
                <input type="text" name="carrierNameText" id="carrierNameText" class="input-field-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div> 
    </div>
    <div class="row xs-pb-15">
        <div class="col-xs-24 col-md-4">
             <label for="deliveryDate">
               {{globalVars.fuelInvoiceInquiry.deliveryDateLabel}}
            </label> <br/>            
            <span id="deliveryDate">
            <div class="calendar-container">
                <input data-parsley-trigger="focusout" name="deliveryDate" data-check-valid-date="" type="text"  data-parsley-required="" class='js-search-pickDateRange input-field-style input-element' id="datePicker1" placeholder="(MM/DD/YYYY)">
                <span class="fa fa-calendar calendar-icon"></span>
            </div>
            </span>
        </div>
    </div>
    <div class="row xs-pb-15">
       <div class="col-xs-24 col-md-4">
            <label for="userPhone">
                {{globalVars.fuelInvoiceInquiry.prodDisputedLabel}}
            </label> <br/>
            <span id="prodDisputed">
                <input type="text" name="prodDisputedText" id="prodDisputedText" class="input-field-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div> 
    </div>
    <div class="row">
        <div class="col-xs-24 col-md-4">
            <label for="userPhone">
                {{globalVars.fuelInvoiceInquiry.reasonLabel}}
            </label> <br/>
            <span id="reasonLabel">
                <textarea id="reasonLabelText" name="reasonLabelText" class="textarea-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div>
    </div>
</div>