<div class="bg-forms fuel-type-container xs-mt-15 xs-p-10"> 
   <span>{{globalVars.formDesc}} </span>
   <div class="row md-pt-15 xs-pb-15">
        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
            <label for="station">
                {{globalVars.ucl.stationNoLabel}}
            </label> <br/>
            <span id="station">
                <input type="text" name="stationNo" name="stationNo" class="input-field-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div>
    </div>
    <div class="row xs-pb-15">
        <div class="col-xs-24 col-md-6 md-mb-0 xs-mb-15">
             <label for="batchDate">
                {{globalVars.ucl.batchDate}}
            </label> <br/>
            <span>{{globalVars.ucl.batchDateNote}}</span>
            <span id="batchDate">
                <input type="text" name="batchDateValue" id="batchDateValue" class="input-field-big xs-mt-5 input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div>        
    </div>
    <div class="row xs-pb-15">
        <div class="col-xs-24 col-md-6 md-mb-0 xs-mb-15">
             <label for="batchNo">
                {{globalVars.ucl.batchNoLabel}}
            </label> <br/>
            <span class="xs-pb-5 d-block">{{globalVars.ucl.batchNoNote}}</span>
            <span id="batchNo">
                <input type="text" name="batchNoVal" id="batchNoVal" class="input-field-big xs-mt-5 input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div>        
    </div>
    <div class="row xs-pb-15">
        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
             <label for="noOfUcl">
                {{globalVars.ucl.noOfUclLabel}}
            </label> <br/>
            <span id="noOfUcl">
                <input type="text" name="noOfUclVal" id="noOfUclVal" class="input-field-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div>        
    </div>
    <div class="row xs-pb-15">
        <div class="col-xs-24 col-md-4 md-mb-0 xs-mb-15">
             <label for="amount">
                {{globalVars.ucl.amountLabel}}
            </label> <br/>
            <span id="amount">
                <input type="text" name="amt" id="amt" class="input-field-style input-element" data-parsley-required="" data-parsley-trigger="focusout" />
            </span>
        </div>        
    </div>
    <span>{{globalVars.ucl.uclNote}} </span>
</div>