<div class="row">
    <div class="col-xs-24">
        <span class="sub-heading">{{globalVars.eftSummary}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-24">
        <div class="row xs-mt-10">
            <div class="col-md-8 col-xs-24 md-pb-0 xs-pb-10">
                <span>
                    <strong>{{globalVars.account}}</strong>
                </span>
                <br/>
                <span>{{eftSearchResponse.payer}}</span>
            </div>
            <div class="col-md-8 col-xs-24 md-pb-0 xs-pb-10">
                <span>
                    <strong>{{globalVars.dateRange}}</strong>
                </span>
                <br/>
                <span>
                    {{globalVars.summaryfromAndToVar}}
                </span>
            </div>
        </div>
    </div>
</div>
