<div class="xs-mt-0 row js-volume-summary" style="background-color: #EBF8FE">
<div class="row hiddenvolume">
    <div class="col-xs-24 xs-ml-10">
        <span class="sub-heading-thin">{{globalVars.userSummary}}</span>
    </div>
</div>
 <div class="col-md-24 col-xs-24 xs-mt-15">
        <div class="col-md-8 col-xs-24">
            <label>{{globalVars.soldTo}}</label>  
             <p class="xs-mt-0">{{summary.soldTo}}</p>
        </div>
        <div class="col-md-8 col-xs-24">
            <label>{{globalVars.permissions}}</label>  
             <p class="xs-mt-0" >{{summary.permissions}}</p>
        </div>
        <div class="col-md-8 col-xs-24">
                <label>{{globalVars.status}}</label>
                 <p class="xs-mt-0">{{summary.status}}</p>
        </div>
</div>
</div>
