<div class='js-location-ddn form-group'>
</div>
<div class='js-shipTo-ddn form-group'>
</div>
<div class='js-search-pickDateRange form-group'>
</div>

<div class="form-group">
    <label for="invoiceNumber">{{globalVars.invoiceNumber}}</label>
    <input type="text" class="form-control em-10" id="invoiceNumber" placeholder="">
</div>
{{#if isNARegion}}
<div class="form-group">
    <label for="orderNumber">{{globalVars.altReferenceNumber}}</label>
    <input type="text" class="form-control em-10" id="altReferenceNumber">
</div>

<div class="form-group">
    <label for="poNumber">{{globalVars.originalDocumentNumber}}</label>
    <input type="text" class="form-control em-13" id="originalDocumentNumber">
</div>
{{else}}
<div class="form-group">
    <label for="orderNumber">{{globalVars.orderNumber}}</label>
    <input type="text" class="form-control em-10" id="orderNumber">
</div>

<div class="form-group">
    <label for="poNumber">{{globalVars.poNumber}}</label>
    <input type="text" class="form-control em-13" id="poNumber">
</div>
{{/if}}

<div class='js-invoicesType-ddn form-group'>
</div>



<div class='js-downloadStatus-ddn form-group'>
</div>

<div class='js-printStatus-ddn form-group'>
</div>


<div class="form-group xs-pt-20">
    <button type="button" class="btn btn-primary btn-block" id="invoicesSearch" name="button">{{globalVars.searchTxt}}</button>
</div>
