<div class="row">
    <div class="col-xs-24 xs-pl-10 heading-top">
        <span class="sub-heading-thin">{{globalVars.siteOperatingHours}}</span>
    </div>
</div>
<div class = "row">
   <div class="col-xs-24">
        <div class="xs-mt-10 col-md-6 col-xs-24">
            <label><strong>{{globalVars.soldTo}}</strong></label>
            <p class="xs-mt-0" id="summarySoldTo"></p>
        </div>
        <div class="xs-mt-10 col-md-6 col-xs-24">
            <label><strong>{{globalVars.sitetb}}</strong></label>
           <p class="xs-mt-0" id="summarySite"></p>
        </div>
        <div class="xs-mt-10 col-md-6 col-xs-24">
            <label><strong>{{globalVars.dateRange}}</strong></label>
            <p class="xs-mt-0" id="summaryDateRange">{{globalVars.dateRangeVal}}</p>
        </div>
        <div class="xs-mt-10 col-md-6 col-xs-24">
            <label><strong>{{globalVars.avgDailyHours}}</strong></label>
            <p class="xs-mt-0" id="summaryAvgDailyHours">{{globalVars.avgDailyHoursVal}}</p>
        </div>
    </div>
</div>