<div class="row xs-mt-5 xs-mb-10 hidden-print"    style="margin-left: -4px;">
    <div class="col-xs-8 col-md-12 col-lg-3 xs-mt-15 sm-mt-0" style="margin-right: -23px;">
        <button class="btn btn-info hidden-xs hidden-sm hidden-md js-downloadBtn" id="downloadBtn" data-name="Station_report_card_download-button">
        <i class="fa fa-download xs-pr-5" aria-hidden="true"></i> {{globalVars.downloadReport}}</button>
    </div>
</div>
<div class="row tableContainer">
    <div class="col-xs-24">
        <table id="table"></table>
    </div>
    <div class="disclaimerData">
    <span class="disclaimer"><strong>{{globalVars.disclaimerBold}}</strong>{{globalVars.disclaimerText}}</span>
</div>
</div>
{{!-- <div class="disclaimerData">
    <span class="disclaimer"><strong>{{globalVars.disclaimerBold}}</strong>{{globalVars.disclaimerText}}</span>
</div> --}}
