<div class="row">
    <div class="col-xs-24">
        <span class="sub-heading">{{globalVars.volSummary}}</span>
    </div>
</div>

<div class="row xs-mt-10">
        <div class="col-md-24 col-xs-24">
           
        <div class="col-md-6 col-xs-12">
            
            <label>{{globalVars.soldTo}}</label>  
             
             <p class="xs-mt-0">{{srSearchResponse.soldShipToNormal}}</p>
             
            
        </div>
        <div class="col-md-8 col-xs-24">
            
            <label>{{globalVars.site}}</label>  
             
             <p class="xs-mt-0">{{srSearchResponse.site}}</p>
            
        </div>
        <div class="col-md-8 col-xs-9">
            
                <label>{{globalVars.programYear}}</label>
                 <p class="xs-mt-0">{{srSearchResponse.site}}</p>
           
        </div>
</div>
</div>
 
