<div class="row">
    <div class="col-xs-24 xs-ml-5">
        <span class="sub-heading-thin">{{globalVars.miipSiteSummary}}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-22 col-xs-24">
        <div class="xs-mt-10 col-md-7 col-xs-24">
            <label><strong>{{globalVars.soldTo}}</strong></label>
            <p class="xs-mt-0">{{summary.soldTo}}</p>
        </div>
        <div class="xs-mt-10 col-md-7 col-xs-24">
            <label><strong>{{globalVars.site}}</strong></label>
            <p class="xs-mt-0">{{summary.site}}</p>
        </div>
        <div class="xs-mt-10 col-md-9 col-xs-24">
            <label><strong>{{globalVars.volumeDiscrepancy}}</strong></label>
            <p class="xs-mt-0">{{summary.volumeDiscrepancy}}</p>
        </div>
   </div>
</div>
